# Final Project

### Import Dependencies and CSV's

In [150]:
import pandas as pd

In [153]:
var_serv_df = pd.read_csv("var_service_FINAL_PROJECT.csv")
pd.set_option('max_columns', None)
#var_serv_df

In [125]:
var_cust_df = pd.read_csv("var_cust_Final_Project.csv")
# var_cust_df

### Cleanup Variable Customer DataFrame

In [126]:
# Get rid of unnecessary columns
var_cust_short = var_cust_df.filter(['CUST#', 'TAX BODY', 'CYCLE', 'MTH$'])
var_cust_short

        CUST# TAX BODY CYCLE    MTH$
0          82   S         TA    0.00
1          98   C         CA  888.98
2         218   SC        CA  965.40
3         345   SC        CA  890.40
4         369   SC        CA   44.86
...       ...      ...   ...     ...
1051    60891   AC        CA  147.63
1052    61031   C         CA  311.79
1053    61096   PV        CA  174.80
1054    61706   CC        CA  482.56
1055  9999999   S         CM    0.00

[1056 rows x 4 columns]

In [127]:
# Get list of values in Cycle column
var_cust_short.CYCLE.unique()

array(['TA', 'CA', 'PA', 'MA', 'CN', 'TN', 'CM'], dtype=object)

In [128]:
# Get rid of cycles that I won't be using (internal accounts or temporary services)
var_cust_com = var_cust_short[(var_cust_short['CYCLE'].isin(['CA', 'PA', 'MA', 'CN']))]
var_cust_com

      CUST# TAX BODY CYCLE    MTH$
1        98   C         CA  888.98
2       218   SC        CA  965.40
3       345   SC        CA  890.40
4       369   SC        CA   44.86
5       567   S         CA   97.87
...     ...      ...   ...     ...
1050  60815   C         CA  207.86
1051  60891   AC        CA  147.63
1052  61031   C         CA  311.79
1053  61096   PV        CA  174.80
1054  61706   CC        CA  482.56

[937 rows x 4 columns]

In [129]:
# Change the index so it is easier to merge
merg_var_cust_com =var_cust_com.set_index('CUST#')
merg_var_cust_com

      TAX BODY CYCLE    MTH$
CUST#
98      C         CA  888.98
218     SC        CA  965.40
345     SC        CA  890.40
369     SC        CA   44.86
567     S         CA   97.87
...        ...   ...     ...
60815   C         CA  207.86
60891   AC        CA  147.63
61031   C         CA  311.79
61096   PV        CA  174.80
61706   CC        CA  482.56

[937 rows x 3 columns]

### Cleanup Variable Service Table

In [162]:
# Grab only the necessary columns
var_serv_short = var_serv_df.filter(['CUST #','CYCLE', 'QTY', 'SIZE', 'CHG CODE', 'SCHEDULE', 'BIN#', 'P/U#', 'BIN AMT$', 'TAX BODY', 'VAR3'], axis=1)
var_serv_short

,CUST #,CYCLE,QTY,SIZE,CHG CODE,SCHEDULE,P/U#,BIN AMT$,TAX BODY,VAR3
0,98,CA,1,4Y,T0,---H---,1,813.98,C,MINI MART
1,98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
2,98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
3,218,CA,1,4Y,CB,--W----,1,75.00,SC,WINERY
4,218,CA,1,4Y,T0,--W----,1,890.40,SC,WINERY
...,...,...,...,...,...,...,...,...,...,...
3684,61031,CA,3,96,CR,---H---,1,0.00,C,NaN
3685,61096,CA,1,CT,09,----F--,1,174.80,PV,NaN
3686,61096,CA,1,96,CR,----F--,1,0.00,PV,NaN
3687,61706,CA,1,2Y,T0,---H---,1,482.56,CC,NaN
3688,61706,CA,3,96,CR,---H---,1,0.00,CC,NaN

In [163]:
# Get list of values in Cycle column
var_serv_short.CYCLE.unique()

array(['CA', 'TA', 'PA', 'MA', 'CN', 'TN'], dtype=object)

In [164]:
# Get rid of cycles that I won't be using
var_serv_com = var_serv_short[(var_serv_short['CYCLE'].isin(['CA', 'PA', 'MA', 'CN']))]
var_serv_com

,CUST #,CYCLE,QTY,SIZE,CHG CODE,SCHEDULE,P/U#,BIN AMT$,TAX BODY,VAR3
0,98,CA,1,4Y,T0,---H---,1,813.98,C,MINI MART
1,98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
2,98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
3,218,CA,1,4Y,CB,--W----,1,75.00,SC,WINERY
4,218,CA,1,4Y,T0,--W----,1,890.40,SC,WINERY
...,...,...,...,...,...,...,...,...,...,...
3684,61031,CA,3,96,CR,---H---,1,0.00,C,NaN
3685,61096,CA,1,CT,09,----F--,1,174.80,PV,NaN
3686,61096,CA,1,96,CR,----F--,1,0.00,PV,NaN
3687,61706,CA,1,2Y,T0,---H---,1,482.56,CC,NaN
3688,61706,CA,3,96,CR,---H---,1,0.00,CC,NaN

In [165]:
# Drop rows where business type (VAR3) is null
var_serv_com = var_serv_com[var_serv_com['VAR3'].notna()]
var_serv_com

,CUST #,CYCLE,QTY,SIZE,CHG CODE,SCHEDULE,P/U#,BIN AMT$,TAX BODY,VAR3
0,98,CA,1,4Y,T0,---H---,1,813.98,C,MINI MART
1,98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
2,98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
3,218,CA,1,4Y,CB,--W----,1,75.00,SC,WINERY
4,218,CA,1,4Y,T0,--W----,1,890.40,SC,WINERY
...,...,...,...,...,...,...,...,...,...,...
3623,31675,CA,1,96,CG,---H---,1,0.00,CC,LODGING-FW
3624,31676,CA,1,2Y,T0,M------,1,482.56,YC,WINERY
3625,31676,CA,1,6Y,R0,----F--,1,973.69,YC,WINERY
3628,31679,CA,1,CT,06,-T-----,1,65.25,S,WINERY
3629,31679,CA,1,96,CR,-T-----,1,0.00,S,WINERY

In [166]:
# Change the index so it is easier to merge
merg_var_serv_com =var_serv_com.set_index('CUST #')
merg_var_serv_com.index.names = ['CUST#']
merg_var_serv_com

      CYCLE  QTY SIZE CHG CODE SCHEDULE  P/U#  BIN AMT$ TAX BODY        VAR3
CUST#
98       CA    1   4Y       T0  ---H---     1    813.98        C   MINI MART
98       CA    1   4Y       CB  -T--F--     2     75.00        C   MINI MART
98       CA    1   4Y       CB  -T--F--     2     75.00        C   MINI MART
218      CA    1   4Y       CB  --W----     1     75.00       SC      WINERY
218      CA    1   4Y       T0  --W----     1    890.40       SC      WINERY
...     ...  ...  ...      ...      ...   ...       ...      ...         ...
31675    CA    1   96       CG  ---H---     1      0.00       CC  LODGING-FW
31676    CA    1   2Y       T0  M------     1    482.56       YC      WINERY
31676    CA    1   6Y       R0  ----F--     1    973.69       YC      WINERY
31679    CA    1   CT       06  -T-----     1     65.25        S      WINERY
31679    CA    1   96       CR  -T-----     1      0.00        S      WINERY

[1864 rows x 9 columns]

# Merge Dataset, Additional Cleaning, and Analyze

In [167]:
# Get a count of how many services are associated with each business type
var_serv_com['VAR3'].value_counts()

WINERY        578
MULTIFAMIL    193
RESTAURANT    164
OFFICE BLD     87
LODGING        71
LODGING-FW     69
GROCERY        65
VINEYARD       65
SCHOOL         46
RETAIL         40
MEDICAL        39
CHURCH         39
MEMBER         37
UTILITY        30
MOBILEHOME     29
COMMUNITY      28
CONTRACTOR     22
MIXED USE      21
HOME IMPRO     20
AUTO           19
BAKERY         19
PARK           18
STRIP MALL     18
NRSG HOME      15
POSTOFFICE     15
HOA            12
DELI/CAFE      12
POLICEFIRE     11
CATERING       11
FOURPLEX       10
PRESCHOOL       9
HOSPITAL        7
GROUP HOME      7
INDUSTRIAL      7
BAR NO FW       6
MINI MART       6
ENTERTAINM      6
DUPLEX          5
LANDSCAPER      5
FLORIST         3
Name: VAR3, dtype: int64

In [168]:
# Merge and drop the duplicate columns
merged_df = pd.merge(merg_var_cust_com, merg_var_serv_com, left_index=True, right_index=True)
merged_df.drop(columns = ['TAX BODY_x', 'CYCLE_x'], inplace=True)
merged_df.rename(columns={"CYCLE_y": "CYCLE", "TAX BODY_y": "TAX BODY"}, inplace=True)
merged_df.reset_index(inplace=True)
merged_df

,CUST#,MTH$,CYCLE,QTY,SIZE,CHG CODE,SCHEDULE,P/U#,BIN AMT$,TAX BODY,VAR3
0,98,888.98,CA,1,4Y,T0,---H---,1,813.98,C,MINI MART
1,98,888.98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
2,98,888.98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
3,218,965.40,CA,1,4Y,CB,--W----,1,75.00,SC,WINERY
4,218,965.40,CA,1,4Y,T0,--W----,1,890.40,SC,WINERY
...,...,...,...,...,...,...,...,...,...,...,...
1859,31675,134.57,CA,1,96,CG,---H---,1,0.00,CC,LODGING-FW
1860,31676,1456.25,CA,1,2Y,T0,M------,1,482.56,YC,WINERY
1861,31676,1456.25,CA,1,6Y,R0,----F--,1,973.69,YC,WINERY
1862,31679,65.25,CA,1,CT,06,-T-----,1,65.25,S,WINERY
1863,31679,65.25,CA,1,96,CR,-T-----,1,0.00,S,WINERY

In [169]:
# Get the number of unique values
unique_values = merged_df.nunique()
unique_values

CUST#       453
MTH$        234
CYCLE         2
QTY          23
SIZE         18
CHG CODE     52
SCHEDULE     23
P/U#          6
BIN AMT$    142
TAX BODY      9
VAR3         40
dtype: int64

#### 453 unique accounts after filtering

In [170]:
# Get datatypes
merged_df.dtypes

CUST#         int64
MTH$        float64
CYCLE        object
QTY           int64
SIZE         object
CHG CODE     object
SCHEDULE     object
P/U#          int64
BIN AMT$    float64
TAX BODY     object
VAR3         object
dtype: object

In [171]:
# Check which tax bodies are present
tax_bodies = merged_df['TAX BODY'].unique()
tax_bodies

array(['C', 'SC', 'S', 'AC', 'YC', 'CC', 'CL', 'Y', 'PV'], dtype=object)

In [172]:
# Replace all _C & PV values with 'COUNTY' AND CL with C in TAX BODY column
merged_df.replace({'TAX BODY': {'SC':'COUNTY', 'AC': 'COUNTY', 'YC': 'COUNTY', 'CC': 'COUNTY', 'PV': 'COUNTY', 'CL': 'C'}}, inplace=True)
merged_df

,CUST#,MTH$,CYCLE,QTY,SIZE,CHG CODE,SCHEDULE,P/U#,BIN AMT$,TAX BODY,VAR3
0,98,888.98,CA,1,4Y,T0,---H---,1,813.98,C,MINI MART
1,98,888.98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
2,98,888.98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
3,218,965.40,CA,1,4Y,CB,--W----,1,75.00,COUNTY,WINERY
4,218,965.40,CA,1,4Y,T0,--W----,1,890.40,COUNTY,WINERY
...,...,...,...,...,...,...,...,...,...,...,...
1859,31675,134.57,CA,1,96,CG,---H---,1,0.00,COUNTY,LODGING-FW
1860,31676,1456.25,CA,1,2Y,T0,M------,1,482.56,COUNTY,WINERY
1861,31676,1456.25,CA,1,6Y,R0,----F--,1,973.69,COUNTY,WINERY
1862,31679,65.25,CA,1,CT,06,-T-----,1,65.25,S,WINERY
1863,31679,65.25,CA,1,96,CR,-T-----,1,0.00,S,WINERY