# Final Project

### Import Dependencies and CSV's

In [59]:
import pandas as pd
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import psycopg2
from config import db_password
import time

In [60]:
var_serv_df = pd.read_csv("var_service_FINAL_PROJECT.csv")
pd.set_option('max_columns', None)
#var_serv_df

In [61]:
var_cust_df = pd.read_csv("var_cust_Final_Project.csv")
# var_cust_df

### Cleanup Variable Customer DataFrame

In [62]:
# Get rid of unnecessary columns
var_cust_short = var_cust_df.filter(['CUST#', 'TAX BODY', 'CYCLE', 'MTH$'])
var_cust_short

        CUST# TAX BODY CYCLE    MTH$
0          82   S         TA    0.00
1          98   C         CA  888.98
2         218   SC        CA  965.40
3         345   SC        CA  890.40
4         369   SC        CA   44.86
...       ...      ...   ...     ...
1051    60891   AC        CA  147.63
1052    61031   C         CA  311.79
1053    61096   PV        CA  174.80
1054    61706   CC        CA  482.56
1055  9999999   S         CM    0.00

[1056 rows x 4 columns]

In [63]:
# Get list of values in Cycle column
var_cust_short.CYCLE.unique()

array(['TA', 'CA', 'PA', 'MA', 'CN', 'TN', 'CM'], dtype=object)

In [64]:
# Get rid of cycles that I won't be using (internal accounts or temporary services)
var_cust_com = var_cust_short[(var_cust_short['CYCLE'].isin(['CA', 'PA', 'MA', 'CN']))].reset_index(drop=True)
var_cust_com

     CUST# TAX BODY CYCLE    MTH$
0       98   C         CA  888.98
1      218   SC        CA  965.40
2      345   SC        CA  890.40
3      369   SC        CA   44.86
4      567   S         CA   97.87
..     ...      ...   ...     ...
932  60815   C         CA  207.86
933  60891   AC        CA  147.63
934  61031   C         CA  311.79
935  61096   PV        CA  174.80
936  61706   CC        CA  482.56

[937 rows x 4 columns]

In [65]:
# Change column names so it can load into postgreSQL
var_cust_com = var_cust_com.rename(columns={"CUST#": "cust", "TAX BODY": "tax_body", "CYCLE": "cycle", "MTH$": "monthly_bill"})
var_cust_com

      cust tax_body cycle  monthly_bill
0       98   C         CA        888.98
1      218   SC        CA        965.40
2      345   SC        CA        890.40
3      369   SC        CA         44.86
4      567   S         CA         97.87
..     ...      ...   ...           ...
932  60815   C         CA        207.86
933  60891   AC        CA        147.63
934  61031   C         CA        311.79
935  61096   PV        CA        174.80
936  61706   CC        CA        482.56

[937 rows x 4 columns]

In [66]:
# # Change the index so it is easier to merge
merg_var_cust_com =var_cust_com.set_index('cust')
merg_var_cust_com

      tax_body cycle  monthly_bill
cust
98      C         CA        888.98
218     SC        CA        965.40
345     SC        CA        890.40
369     SC        CA         44.86
567     S         CA         97.87
...        ...   ...           ...
60815   C         CA        207.86
60891   AC        CA        147.63
61031   C         CA        311.79
61096   PV        CA        174.80
61706   CC        CA        482.56

[937 rows x 3 columns]

In [67]:
# Replace all _C & PV values with 'COUNTY' AND CL with C in TAX BODY column
# merg_var_cust_com.TAX_BODY.values
merg_var_cust_com.replace({'tax_body': {'SC    ':'COUNTY', 'AC    ': 'COUNTY', 'YC    ': 'COUNTY', 'CC    ': 'COUNTY', 'PV    ': 'COUNTY', 'CL    ': 'C', 'C      ': 'C', 'S     ': 'S', 'Y     ': 'Y'}}, inplace=True)
merg_var_cust_com.head(30)

     tax_body cycle  monthly_bill
cust
98     C         CA        888.98
218    COUNTY    CA        965.40
345    COUNTY    CA        890.40
369    COUNTY    CA         44.86
567         S    CA         97.87
717         S    CA         65.25
767    COUNTY    CA         89.71
800    COUNTY    CA        706.50
806    COUNTY    CA        597.92
939         S    CA        195.74
948    C         CA        842.69
1084   COUNTY    CA       1835.23
1092   COUNTY    CA       1373.25
1454   COUNTY    CA        452.18
1575   COUNTY    CA        760.91
1742   COUNTY    CA         44.86
1767        S    CA        363.91
1824   COUNTY    CA        684.42
2064   COUNTY    CA       1693.50
2226   COUNTY    CA          0.00
2253        S    CA         97.87
2339   COUNTY    CA       1522.96
2342   COUNTY    CA        487.05
2372   COUNTY    CA        199.35
2642   COUNTY    CA          0.00
2678        S    CA        293.61
2754        C    CA       1227.47
2810        Y    CA         67.49
3159   COUNTY    CA         89.71
3630   COUNTY    CA        134.57

### Cleanup Variable Service DataFrame

In [68]:
# Grab only the necessary columns
var_serv_short = var_serv_df.filter(['CUST #','CYCLE', 'QTY', 'SIZE', 'CHG CODE', 'BIN#', 'P/U#', 'BIN AMT$', 'TAX BODY', 'VAR3'], axis=1)
var_serv_short

      CUST # CYCLE  QTY SIZE CHG CODE  P/U#  BIN AMT$ TAX BODY       VAR3
0         98    CA    1   4Y       T0     1    813.98        C  MINI MART
1         98    CA    1   4Y       CB     2     75.00        C  MINI MART
2         98    CA    1   4Y       CB     2     75.00        C  MINI MART
3        218    CA    1   4Y       CB     1     75.00       SC     WINERY
4        218    CA    1   4Y       T0     1    890.40       SC     WINERY
...      ...   ...  ...  ...      ...   ...       ...      ...        ...
3684   61031    CA    3   96       CR     1      0.00        C        NaN
3685   61096    CA    1   CT       09     1    174.80       PV        NaN
3686   61096    CA    1   96       CR     1      0.00       PV        NaN
3687   61706    CA    1   2Y       T0     1    482.56       CC        NaN
3688   61706    CA    3   96       CR     1      0.00       CC        NaN

[3689 rows x 9 columns]

In [69]:
# Get list of values in Cycle column
var_serv_short.CYCLE.unique()

array(['CA', 'TA', 'PA', 'MA', 'CN', 'TN'], dtype=object)

In [70]:
# Get rid of cycles that I won't be using
var_serv_com = var_serv_short[(var_serv_short['CYCLE'].isin(['CA', 'PA', 'MA', 'CN']))]
var_serv_com

      CUST # CYCLE  QTY SIZE CHG CODE  P/U#  BIN AMT$ TAX BODY       VAR3
0         98    CA    1   4Y       T0     1    813.98        C  MINI MART
1         98    CA    1   4Y       CB     2     75.00        C  MINI MART
2         98    CA    1   4Y       CB     2     75.00        C  MINI MART
3        218    CA    1   4Y       CB     1     75.00       SC     WINERY
4        218    CA    1   4Y       T0     1    890.40       SC     WINERY
...      ...   ...  ...  ...      ...   ...       ...      ...        ...
3684   61031    CA    3   96       CR     1      0.00        C        NaN
3685   61096    CA    1   CT       09     1    174.80       PV        NaN
3686   61096    CA    1   96       CR     1      0.00       PV        NaN
3687   61706    CA    1   2Y       T0     1    482.56       CC        NaN
3688   61706    CA    3   96       CR     1      0.00       CC        NaN

[3576 rows x 9 columns]

In [71]:
# Drop rows where business type (VAR3) is null
var_serv_com = var_serv_com[var_serv_com['VAR3'].notna()].reset_index(drop=True)
var_serv_com

      CUST # CYCLE  QTY SIZE CHG CODE  P/U#  BIN AMT$ TAX BODY        VAR3
0         98    CA    1   4Y       T0     1    813.98        C   MINI MART
1         98    CA    1   4Y       CB     2     75.00        C   MINI MART
2         98    CA    1   4Y       CB     2     75.00        C   MINI MART
3        218    CA    1   4Y       CB     1     75.00       SC      WINERY
4        218    CA    1   4Y       T0     1    890.40       SC      WINERY
...      ...   ...  ...  ...      ...   ...       ...      ...         ...
1859   31675    CA    1   96       CG     1      0.00       CC  LODGING-FW
1860   31676    CA    1   2Y       T0     1    482.56       YC      WINERY
1861   31676    CA    1   6Y       R0     1    973.69       YC      WINERY
1862   31679    CA    1   CT       06     1     65.25        S      WINERY
1863   31679    CA    1   96       CR     1      0.00        S      WINERY

[1864 rows x 9 columns]

In [72]:
# Change column names so it can load into postgreSQL
var_serv_com = var_serv_com.rename(columns={"CUST #": "cust", "CYCLE":"cycle", "QTY": "qty", "SIZE": "size", "CHG CODE": "chg", "P/U#": "pickups", "BIN AMT$": "bin_amount", "TAX BODY": "tax_body", "VAR3":"biz_type"})
var_serv_com

       cust cycle  qty size chg  pickups  bin_amount tax_body    biz_type
0        98    CA    1   4Y  T0        1      813.98        C   MINI MART
1        98    CA    1   4Y  CB        2       75.00        C   MINI MART
2        98    CA    1   4Y  CB        2       75.00        C   MINI MART
3       218    CA    1   4Y  CB        1       75.00       SC      WINERY
4       218    CA    1   4Y  T0        1      890.40       SC      WINERY
...     ...   ...  ...  ...  ..      ...         ...      ...         ...
1859  31675    CA    1   96  CG        1        0.00       CC  LODGING-FW
1860  31676    CA    1   2Y  T0        1      482.56       YC      WINERY
1861  31676    CA    1   6Y  R0        1      973.69       YC      WINERY
1862  31679    CA    1   CT  06        1       65.25        S      WINERY
1863  31679    CA    1   96  CR        1        0.00        S      WINERY

[1864 rows x 9 columns]

In [73]:
# # Change the index so it is easier to merge
merg_var_serv_com =var_serv_com.set_index('cust')
merg_var_serv_com

      cycle  qty size chg  pickups  bin_amount tax_body    biz_type
cust
98       CA    1   4Y  T0        1      813.98        C   MINI MART
98       CA    1   4Y  CB        2       75.00        C   MINI MART
98       CA    1   4Y  CB        2       75.00        C   MINI MART
218      CA    1   4Y  CB        1       75.00       SC      WINERY
218      CA    1   4Y  T0        1      890.40       SC      WINERY
...     ...  ...  ...  ..      ...         ...      ...         ...
31675    CA    1   96  CG        1        0.00       CC  LODGING-FW
31676    CA    1   2Y  T0        1      482.56       YC      WINERY
31676    CA    1   6Y  R0        1      973.69       YC      WINERY
31679    CA    1   CT  06        1       65.25        S      WINERY
31679    CA    1   96  CR        1        0.00        S      WINERY

[1864 rows x 8 columns]

In [74]:
# Replace all _C & PV values with 'COUNTY' AND CL with C in TAX BODY column
merg_var_serv_com.replace({'tax_body': {'SC':'COUNTY', 'AC': 'COUNTY', 'YC': 'COUNTY', 'CC': 'COUNTY', 'PV': 'COUNTY', 'CL': 'C'}}, inplace=True)
merg_var_serv_com

      cycle  qty size chg  pickups  bin_amount tax_body    biz_type
cust
98       CA    1   4Y  T0        1      813.98        C   MINI MART
98       CA    1   4Y  CB        2       75.00        C   MINI MART
98       CA    1   4Y  CB        2       75.00        C   MINI MART
218      CA    1   4Y  CB        1       75.00   COUNTY      WINERY
218      CA    1   4Y  T0        1      890.40   COUNTY      WINERY
...     ...  ...  ...  ..      ...         ...      ...         ...
31675    CA    1   96  CG        1        0.00   COUNTY  LODGING-FW
31676    CA    1   2Y  T0        1      482.56   COUNTY      WINERY
31676    CA    1   6Y  R0        1      973.69   COUNTY      WINERY
31679    CA    1   CT  06        1       65.25        S      WINERY
31679    CA    1   96  CR        1        0.00        S      WINERY

[1864 rows x 8 columns]

In [75]:
# Prepping data for machine learning
# Create column for commodity type (garbage, recycle, or compost)
merg_var_serv_com.insert(4, "commodity", "")
# Convert easy size codes (dumpsters)
# *NOTE* All sizes will be in cubic yards, so gallon values are changed to cubic yards
merg_var_serv_com.replace({'1Y': 1, '2Y': 2, '3Y': 3.5,'4Y': 4, '4P': 4, '6Y': 6, '35': .16, '96': .48}, inplace=True)
merg_var_serv_com

      cycle  qty  size chg commodity  pickups  bin_amount tax_body    biz_type
cust
98       CA    1     4  T0                  1      813.98        C   MINI MART
98       CA    1     4  CB                  2       75.00        C   MINI MART
98       CA    1     4  CB                  2       75.00        C   MINI MART
218      CA    1     4  CB                  1       75.00   COUNTY      WINERY
218      CA    1     4  T0                  1      890.40   COUNTY      WINERY
...     ...  ...   ...  ..       ...      ...         ...      ...         ...
31675    CA    1  0.48  CG                  1        0.00   COUNTY  LODGING-FW
31676    CA    1     2  T0                  1      482.56   COUNTY      WINERY
31676    CA    1     6  R0                  1      973.69   COUNTY      WINERY
31679    CA    1    CT  06                  1       65.25        S      WINERY
31679    CA    1  0.48  CR                  1        0.00        S      WINERY

[1864 rows x 9 columns]

## Additional cleaning and prepping for Machine learning

In [76]:
merg_var_serv_com.dtypes

cycle          object
qty             int64
size           object
chg            object
commodity      object
pickups         int64
bin_amount    float64
tax_body       object
biz_type       object
dtype: object

In [77]:
# Replace size codes and commodity based on relationship between size and chg codes and commodity based on size
# Food Waste (will also be labeled as compost)
merg_var_serv_com.loc[merg_var_serv_com['size'] == 'CF', 'commodity'] = 'Compost'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'D3', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == 'D6', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == 'D7', 'size'] = .32

# # Garbage
merg_var_serv_com.loc[merg_var_serv_com['size'] == 'CT', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'SA', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'TH', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'T0', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'T1', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'T2', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'T3', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'T4', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'OP', 'commodity'] = 'Garbage'

merg_var_serv_com.loc[merg_var_serv_com.chg == '03', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '03', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '13', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '23', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '33', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '43', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '53', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '63', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '73', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '83', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '93', 'size'] = .16
merg_var_serv_com.loc[merg_var_serv_com.chg == '06', 'size'] = .32 # Also used for food waste
merg_var_serv_com.loc[merg_var_serv_com.chg == '16', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '26', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '36', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '46', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '56', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '66', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '76', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '86', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '96', 'size'] = .32
merg_var_serv_com.loc[merg_var_serv_com.chg == '09', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '19', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '29', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '39', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '49', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '59', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '69', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '79', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '89', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == '99', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == 'C0', 'commodity'] = 'Garbage'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'C0', 'size'] = 4 # C0 is a compactor, so a 2:1 compaction rate puts a 2yd at 4

# # Compost
merg_var_serv_com.loc[merg_var_serv_com.chg == '0G', 'commodity'] = 'Compost'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'AG', 'commodity'] = 'Compost'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'CG', 'commodity'] = 'Compost'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'G0', 'commodity'] = 'Compost'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'G2', 'commodity'] = 'Compost'

merg_var_serv_com.loc[merg_var_serv_com.chg == '0G', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == 'AG', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == 'CG', 'size'] = .48

# #Recycle
merg_var_serv_com.loc[merg_var_serv_com.chg == 'JP', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'GL', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'CB', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'R0', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'R1', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'R2', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'R3', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'R4', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'RH', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == '0R', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'CR', 'commodity'] = 'Recycle'
merg_var_serv_com.loc[merg_var_serv_com.chg == 'AR', 'commodity'] = 'Recycle'

merg_var_serv_com.loc[merg_var_serv_com.chg == '0R', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == 'CR', 'size'] = .48
merg_var_serv_com.loc[merg_var_serv_com.chg == 'AR', 'size'] = .48
merg_var_serv_com

      cycle  qty  size chg commodity  pickups  bin_amount tax_body    biz_type
cust
98       CA    1     4  T0   Garbage        1      813.98        C   MINI MART
98       CA    1     4  CB   Recycle        2       75.00        C   MINI MART
98       CA    1     4  CB   Recycle        2       75.00        C   MINI MART
218      CA    1     4  CB   Recycle        1       75.00   COUNTY      WINERY
218      CA    1     4  T0   Garbage        1      890.40   COUNTY      WINERY
...     ...  ...   ...  ..       ...      ...         ...      ...         ...
31675    CA    1  0.48  CG   Compost        1        0.00   COUNTY  LODGING-FW
31676    CA    1     2  T0   Garbage        1      482.56   COUNTY      WINERY
31676    CA    1     6  R0   Recycle        1      973.69   COUNTY      WINERY
31679    CA    1  0.32  06   Garbage        1       65.25        S      WINERY
31679    CA    1  0.48  CR   Recycle        1        0.00        S      WINERY

[1864 rows x 9 columns]

In [78]:
# Drop chg code column
merg_var_serv_com.drop(columns=['chg'], inplace=True)
merg_var_serv_com

      cycle  qty  size commodity  pickups  bin_amount tax_body    biz_type
cust
98       CA    1     4   Garbage        1      813.98        C   MINI MART
98       CA    1     4   Recycle        2       75.00        C   MINI MART
98       CA    1     4   Recycle        2       75.00        C   MINI MART
218      CA    1     4   Recycle        1       75.00   COUNTY      WINERY
218      CA    1     4   Garbage        1      890.40   COUNTY      WINERY
...     ...  ...   ...       ...      ...         ...      ...         ...
31675    CA    1  0.48   Compost        1        0.00   COUNTY  LODGING-FW
31676    CA    1     2   Garbage        1      482.56   COUNTY      WINERY
31676    CA    1     6   Recycle        1      973.69   COUNTY      WINERY
31679    CA    1  0.32   Garbage        1       65.25        S      WINERY
31679    CA    1  0.48   Recycle        1        0.00        S      WINERY

[1864 rows x 8 columns]

In [79]:
# Drop rows with nothing or null values in commodity
merg_var_serv_com['commodity'].replace('', np.nan, inplace=True)
merg_var_serv_com.dropna(subset=['commodity'], inplace=True)
merg_var_serv_com

      cycle  qty  size commodity  pickups  bin_amount tax_body    biz_type
cust
98       CA    1     4   Garbage        1      813.98        C   MINI MART
98       CA    1     4   Recycle        2       75.00        C   MINI MART
98       CA    1     4   Recycle        2       75.00        C   MINI MART
218      CA    1     4   Recycle        1       75.00   COUNTY      WINERY
218      CA    1     4   Garbage        1      890.40   COUNTY      WINERY
...     ...  ...   ...       ...      ...         ...      ...         ...
31675    CA    1  0.48   Compost        1        0.00   COUNTY  LODGING-FW
31676    CA    1     2   Garbage        1      482.56   COUNTY      WINERY
31676    CA    1     6   Recycle        1      973.69   COUNTY      WINERY
31679    CA    1  0.32   Garbage        1       65.25        S      WINERY
31679    CA    1  0.48   Recycle        1        0.00        S      WINERY

[1817 rows x 8 columns]

# Load Into postgreSQL Database in pgAdmin

In [80]:
# Get a count of how many services are associated with each business type
var_serv_com['biz_type'].value_counts()

WINERY        578
MULTIFAMIL    193
RESTAURANT    164
OFFICE BLD     87
LODGING        71
LODGING-FW     69
GROCERY        65
VINEYARD       65
SCHOOL         46
RETAIL         40
CHURCH         39
MEDICAL        39
MEMBER         37
UTILITY        30
MOBILEHOME     29
COMMUNITY      28
CONTRACTOR     22
MIXED USE      21
HOME IMPRO     20
AUTO           19
BAKERY         19
STRIP MALL     18
PARK           18
POSTOFFICE     15
NRSG HOME      15
DELI/CAFE      12
HOA            12
POLICEFIRE     11
CATERING       11
FOURPLEX       10
PRESCHOOL       9
GROUP HOME      7
HOSPITAL        7
INDUSTRIAL      7
ENTERTAINM      6
BAR NO FW       6
MINI MART       6
DUPLEX          5
LANDSCAPER      5
FLORIST         3
Name: biz_type, dtype: int64

In [81]:
# Create the path to your file directory and variables for the three files.
file_dir = 'C://Users/mabuc/Documents/Classwork/Final_Project/'

In [82]:
# Transform and load
db_string = f"postgresql://postgres:{db_password}@localhost:5432/Final_Project"
# Create engine
engine = create_engine(db_string)

In [83]:
# Import DataFrames to postgreSQL
merg_var_serv_com.to_sql(name='var_serv', if_exists='replace',con=engine)
merg_var_cust_com.to_sql(name = 'var_cust', if_exists='replace',con=engine)

In [168]:
# # Merge and drop the duplicate columns
# merged_df = pd.merge(merg_var_cust_com, merg_var_serv_com, left_index=True, right_index=True)
# merged_df.drop(columns = ['TAX BODY_x', 'CYCLE_x'], inplace=True)
# merged_df.rename(columns={"CYCLE_y": "CYCLE", "TAX BODY_y": "TAX BODY"}, inplace=True)
# merged_df.reset_index(inplace=True)
# merged_df

,CUST#,MTH$,CYCLE,QTY,SIZE,CHG CODE,SCHEDULE,P/U#,BIN AMT$,TAX BODY,VAR3
0,98,888.98,CA,1,4Y,T0,---H---,1,813.98,C,MINI MART
1,98,888.98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
2,98,888.98,CA,1,4Y,CB,-T--F--,2,75.00,C,MINI MART
3,218,965.40,CA,1,4Y,CB,--W----,1,75.00,SC,WINERY
4,218,965.40,CA,1,4Y,T0,--W----,1,890.40,SC,WINERY
...,...,...,...,...,...,...,...,...,...,...,...
1859,31675,134.57,CA,1,96,CG,---H---,1,0.00,CC,LODGING-FW
1860,31676,1456.25,CA,1,2Y,T0,M------,1,482.56,YC,WINERY
1861,31676,1456.25,CA,1,6Y,R0,----F--,1,973.69,YC,WINERY
1862,31679,65.25,CA,1,CT,06,-T-----,1,65.25,S,WINERY
1863,31679,65.25,CA,1,96,CR,-T-----,1,0.00,S,WINERY

In [169]:
# # Get the number of unique values
# unique_values = merged_df.nunique()
# unique_values

CUST#       453
MTH$        234
CYCLE         2
QTY          23
SIZE         18
CHG CODE     52
SCHEDULE     23
P/U#          6
BIN AMT$    142
TAX BODY      9
VAR3         40
dtype: int64

#### 453 unique accounts after filtering

In [170]:
# # Get datatypes
# merged_df.dtypes

CUST#         int64
MTH$        float64
CYCLE        object
QTY           int64
SIZE         object
CHG CODE     object
SCHEDULE     object
P/U#          int64
BIN AMT$    float64
TAX BODY     object
VAR3         object
dtype: object